<!DOCTYPE html>
<html>
<body>
  <h1>Botao que envia query SQL</h1>
  <p>Lista de Usuarios</p>
  <h3>Selecione funcao</h3>
  <form>
    <input type="radio" id="function_insert" name="select_function">
    <label for="function_insert">insert</label>
    <input type="radio" id="function_delete" name="select_function">
    <label for="function_delete">delete</label>
  </form>
  <h3>Selecione tabela</h3>
  <form>
    <input type="radio" id="usuario" name="select_table">
    <label for="usuario">usuario</label>
    <input type="radio" id="exame" name="select_table">
    <label for="exame">exame</label>
  </form>
  <h3>Envie a Query</h3>
  <button type="button">Solicitar Resultado</button>
</html>
