<!DOCTYPE html>
<html>
	<title>Consulta</title>
<body>
	<p><a href="{% url 'index' %}">VOLTAR</a></p>
	<h2>Preencha o campo de id abaixo para <i>ELIMINAR</i> uma linha da tabela <i>{{ table }}</i></h2>
	<form action=/delete method="post">
		{% csrf_token %}
		<p><i>{{message}}</i></p>
		{{ form }}
		<input type="hidden" name="table" value={{ table }}>
		<button type="submit", name="crud_operation">Delete</button>
	</form>
	{% if user_table %}
		<p><b>Lista de Usuários</b></p>
		<p>TOTAL: {{user_table | length}}</p>
		{% for row in user_table %}
			<ul>
				<li>id_usuario = {{row.id_usuario}}</li>
				<li>id_pessoa = {{row.id_pessoa}}</li>
				<li>area de pesquisa: {{row.area_de_pesquisa}}</li>
				<li>instituicao: {{row.instituicao}}</li>
				{% if row.id_tutor == None %}
					<li>tutor: {{row.id_tutor}}</li>
				{% else %}
					{% for user_row in user_table %}
						{% if user_row.id_usuario == row.id_tutor %}
							{% for person_row in person_table %}
								{% if person_row.id_pessoa == user_row.id_pessoa %}
									<li>tutor: {{person_row.nome}}</li>
								{% endif %}
							{% endfor %}
						{% endif %}
					{% endfor %}
				{% endif %}
				<li>login: {{row.login}}</li>
				<li>senha: {{row.senha}}</li>
			</ul>
			<br>
		{% endfor %}
	{% elif profile_table %}
		<p><b>Lista de Perfis</b></p>
		<p>TOTAL: {{profile_table | length}}</p>
		{% for row in profile_table %}
		<ul>
			<li>id_perfil: {{row.id_perfil}}</li>
			<li>codigo: {{row.codigo}}</li>
			<li>tipo: {{row.tipo}}</li>
		</ul>
		<br>
		{% endfor %}
	{% elif service_table %}
		<p><b>Lista de Serviços</b></p>
		<p>TOTAL: {{service_table | length}}</p>
		{% for row in service_table %}
		<ul>
			<li>id_servico: {{row.id_servico}}</li>
			<li>classe: {{row.classe}}</li>
			<li>nome: {{row.nome}}</li>
		</ul>
		<br>
		{% endfor %}
	{% elif exam_table %}
		<p><b>Lista de Exames</b></p>
		<p>TOTAL: {{exam_table | length}}</p>
		{% for row in exam_table %}
		<ul>
			<li>id_exame: {{row.id_exame}}</li>
			<li>tipo: {{row.tipo}}</li>
			<li>virus: {{row.virus}}</li>
		</ul>
		<br>
		{% endfor %}
	{% else %}
		<p><i>A tabela está vazia.</i></p>
	{% endif %}
</body>
</html>
